
/* Aplicar color blanco al texto de la web */
*{
    color: white;
}

/* Fondo de pantalla */
body{
    margin: 0;
    background-image: url(img/fondoCiudad.jpg)
}

/* Estilo de los enlaces */
.noLink{
    color: rgb(9, 139, 96);
    text-decoration:none ;
}

.colorEnlace:hover{    
    color: rgb(9, 139, 96)!important;
}

/* Para navegar verticalmente en los contenedores largos */
.scroll {
    max-height: 500px; /* o cualquier otra altura máxima deseada */
    overflow-y: auto;
}

/* Estilos de los contenedores */
.celda{
    border-radius: 10%;
}
.ajuste{
    height:fit-content
}

/* Estilos de la barra de navegación y de los distintos títulos de la web */
.logo{
    width: 30%;
    display: inline-block;
}
.fLetter::first-letter{
    font-size: larger;
    color: rgb(9, 139, 96);
}
.buscar{
    width: 45%;
}
.menu{
    width: 30%;
}

/* Botón eliminar cuenta de la hoja de vida */
.eliminar{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Estilos de archivos JavaScript */
.fuente{
    font-size:0.9rem;
}

.limited-width {
    width: 100%;
}

/* Cambiar el tamaño de la letra de los botones cuando se estrecha la pantalla */
@media only screen and (max-width: 1164px) and (min-width: 992px){
    .fuente{
        font-size: 0.6rem;
    }
}

/* Estilos del texto del formulario de inicio de sesión */
.cuenta{
    color: white;
    font-size: 1.1rem;
}
