*{
    color: white;
}

h1{
    color: rgb(9, 139, 96);
}
.logo{
    width: 30%;
    display: inline-block;
}
.fLetter::first-letter{
    font-size: larger;
    color: rgb(40, 167, 69)
    
}
.buscar{
    width: 40%;
}
.menu{
    width: 30%;
}
.celda{
    border-radius: 10%;
}
.ajuste{
    height:fit-content
}
body{
    margin: 0;
    background-image: url(img/fondoCiudad.jpg)
}
.imagenCentrada {
    width: 50%!important;
}
.containerFormulario {
    width: 50%;
}

.correo {
    width: 97% !important;
}
.noLink{
    color: inherit;
    text-decoration:none ;
}
.scroll {
    max-height: 500px; /* o cualquier otra altura máxima deseada */
    overflow-y: auto;
}
.publicaciones {
    width: 100%;
    height: 600px;
}
.publicacionesIn {
    width: 90%;
    height: 540px;
    overflow-y: auto;
}
.ajusteImg{
    max-width: 100%;
}
.card-body{
    max-height: 100px;
    overflow-y: auto;
}