*{
    color: white;
}


.logo{
    width: 30%;
    display: inline-block;
}
.buscar{
    width: 40%;
}
.menu{
    width: 30%;
}
.celda{
    border-radius: 10%;
}
.ajuste{
    height:fit-content
}
body{
    margin: 0;
    background-image: url(img/fondoCiudad.jpg)
}
.imagenCentrada {
    width: 50%!important;
}
.containerFormulario {
    width: 50%;
}

.correo {
    width: 97% !important;
}
/* button{
    background-color: #267754;
}
button:hover{
    background-color: rgb(9, 139, 96)!important;
} */