*{
    color: white;
}

h1{
    color: rgb(9, 139, 96);
}
.logo{
    width: 30%;
    display: inline-block;
}
.fLetter::first-letter{
    font-size: larger;
    color: rgb(9, 139, 96);
    
}
.buscar{
    width: 45%;
}
.menu{
    width: 30%;
}
.celda{
    border-radius: 10%;
}
.ajuste{
    height:fit-content
}
body{
    margin: 0;
    background-image: url(img/fondoCiudad.jpg)
}
.imagenCentrada {
    width: 50%!important;
}
.noLink{
    color: rgb(9, 139, 96);
    text-decoration:none ;
}
.scroll {
    max-height: 500px; /* o cualquier otra altura máxima deseada */
    overflow-y: auto;
}
.publicaciones {
    width: 100%;
    height: 600px;
}
.publicacionesIn {
    width: 90%;
    height: 540px;
    overflow-y: auto;
}

.colorEnlace:hover{    
    color: rgb(9, 139, 96)!important;
}

button:hover{
    background-color: rgb(9, 139, 96)!important;
}

.eliminar{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.fuente{
    font-size:0.9rem;
}

.tamaño{
    width: 16rem; 
    height: 24rem;
}

.limited-width {
    /* max-width: 300px; */
    width: 100%;
}
@media only screen and (max-width: 1164px) and (min-width: 992px){
    .fuente{
        font-size: 0.6rem;
    }
}
/* @media screen and (max-width: 991px){
    .fuente{
        font-size: 0.9rem;
    }
} */