
/* Estilo general de la web*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FBE7D7;
    color:gray;

}

label{
    font-size: small;    
}

input{
    font-size: small;
}

p{
    font-size: small;
}

input:focus, select:focus, select, input.form-control:focus {

    outline:none !important;
}

/* ESTILO DE LA PÁGINA DE LOGIN */

/* Estilo del recuadro de incio de sesión y de mi perfil */

.index{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    /* padding: 0; */
}
.login{    
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 30%;
    margin-top: 20px;
    box-shadow: 5px 5px 40px;        
}

.login input{  
    margin-top: 20px;    
    width: 50%;
    border:none;
}

.login img{
    width: 50%;
}

h3{
    color: #1F4D7A;
}
.login button{
    margin-top: 20px;
    width: 100%;
    background-color: #EC483F;
    border: none;
    padding: 4px;
    color: white;   
}

.login a{
    width: 50%;
}

.login p{
    text-align: center;
    width: 50%;
    font-size:xx-small
}

.login hr{
    width: 50%;
    height: 0.1px;
    background-color: black;
}

/* Estilo del recuadro de la imagen */

.imagen{
    height: 100%;
    width: 30%;
    margin-top: 20px;
    box-shadow: 5px 5px 40px; 
}
.imagen img{
    object-fit: cover;
    width:100%;
    height:100%;    
}

/* ACABA ESTILO DE LA PÁGINA DE LOGIN */


/* ESTILO DE LA PÁGINA DE PERFIL */

.perfil{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Estilo del recuadro del perfil */


.informacion-perfil{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    width: 30%;
    margin-top: 20px;
    box-shadow: 5px 5px 40px;      
}



.informacion-perfil p{
    text-align: center;
    width: 50%;
    font-size:xx-small
}

.imagen-perfil{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 30%;
    margin-top: 20px;
    box-shadow: 5px 5px 40px;
    background-color: white; 
}

.imagen-perfil img{
    object-fit: cover;
    width:80%;
    height:80%;      
}

/* .imagen-perfil img{

} */

/* ACABA ESTILO DE LA PÁGINA DE PERFIL */


/* EMPIEZA ESTILO DE LA PÁGINA DE REGISTRO */

/* Estilo del recuadro del registro */


.registro hr{
    width: 60%;
    height: 0.1px;
    background-color: black;
}

.registro{
    width: 100%;
    margin-top: 20px;    
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
}

.lineas-nombre{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.lineas-nombre hr{
    /* margin-right: 30px; */
    width: 48%;
    height: 0.1px;
    background-color: black;
}

.form-registro{
    width: 30%;
    background-color: white;
    box-shadow: 5px 5px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;    
}

.campo-nombre{
    display: flex;
    width: 60%;
}

.registro p{
    text-align: center;
    width: 60%;
    font-size:xx-small
}

.registro input{  
    margin-top: 20px;    
    width: 60%;
    border:none;
}

.genero{
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.genero label{
    margin-top: 20px;
}




.mujer{
    display: flex;
    align-items: center;
    /* border: 1px solid gray;     */
}

.hombre{
    display: flex;
    align-items: center;
    align-items: center;
    /* border: 1px solid gray;  */
}

.otro{
    display: flex;
    align-items: center;
    align-items: center;
    /* border: 1px solid gray;  */
}


.registro a{
    width: 60%;
}

.registro button
{
    margin-top: 20px;
    width: 100%;
    background-color: #EC483F;
    border: none;
    padding: 4px;
    color: white;   
}

/* ACABA ESTILO DE LA PÁGINA DE REGISTRO */


/* EMPIEZA ESTILO DE LA PÁGINA DE LA RED SOCIAL */

.cabecera{  
    
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-between

}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;    
    width: 30%;    
}

.logo img{
    width: 16%;
    height: 50%;
    align-self: center;    
    margin-left: 2px;    
}

.logo p{
    width: 3%;
    height: 3%;    
    margin-left: 5px;    
}

.busqueda{
    display: flex;
    justify-content: flex-start;
    width: 40%;
    height: 40%;
}

.busqueda input{    
    border-radius: 20px;
    border-style: none;
    border: 1px solid;
    width: 80%;
}

nav{    
    width: 25%;    
    display: flex;
    justify-content: space-between;
    margin-right:9px;
}

nav img{
    width: 40%;
}

.cuadros-redSocial{
    display: flex;
    justify-content: space-between;
}
.noticias{
    background-color: white;
    width: 20%;
    border-radius: 10px;
    margin-top: 5px;
}

.apartado{
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.apartado img{
    width: 10%;
    height: 5%;
}

.publicaciones{
    background-color: white;
    width: 57%;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado-publicaciones{
    display: flex;
    justify-content: center;  
    
}

.publicaciones img{
    width: 5%;
    height: 45%;
    margin-top: 15px;
    margin-right: 10px;
}

.publicar{
    display: flex;
    justify-content: center;    
    width: 90%;  
}

.publicar textarea{
    margin-left: 5px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid;
}

.amigos{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    width: 20%;
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;
}

.iconos-publicar{
    display: flex;
    justify-content: center;
}

.iconos-publicar p{
    margin-right: 40px;
}

.amigo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
        
}

.amigo img{
    width: 12%;
    height:40;
}

/* ACABA ESTILO DE LA PÁGINA DE LA RED SOCIAL */